
.card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  transition: 0.3s ease;
}

.image-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 12px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}




.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #e60023;
  margin-bottom: 12px;
}

.rating {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.buy-btn {
  background-color: #e60023;
  color: white;
}

.buy-btn:hover {
  background-color: #cc001f;
}

.delete-btn {
  background-color: #f1f1f1;
}

.delete-btn:hover {
  background-color: #ddd;
}

.share-kaspi{
    margin: auto;
    text-decoration: none;
}

.share-kaspi:hover{
    text-decoration: underline;
}

.share-wts{
    margin: auto;
    margin-bottom: 5px;
    text-decoration: none;
}

.share-wts:hover{
    text-decoration: underline;
}

.like-btn {
  background-color: #fff0f3;
  color: #e60023;
}

.like-btn:hover {
  background-color: #ffd6dd;
}
