body {
    background-color: rbg(242,244,247);
}

.greatings{

}
.facebook_logo{

}

.headliner{

}

.info_h{

}

.adress{

}

.password{

}

.sign_in{

}

.forg_pas{

}

.new_prof{

}

.ext_data{

}

.bold_info{
    
}