body{
    background: #fefefe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.main{
    position: relative;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

 
}

.main-offer{
    width: 100%;
    overflow: auto;
    padding: 50px 50px;
}

.main-offer div{
    float: left;
    margin: 5px;
}

.offer{
    background-color: #fff;
    border: 2px solid #eef0f2;
    border-radius: 5px;
    align-items: center;
}

.btn{
    font-weight: bold;
    border: 1px solid #eef0f2;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    
}

.info{
    background-color: #f5f6f8;
}
