.header {
  background: white;
  padding: 24px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.category-btn {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}

.category-btn:hover {
  background-color: #e60023;
  color: white;
  transform: translateY(-2px);
}

.category-btn.active {
  background-color: #e60023;
  color: white;
}

.default{
    display: flex;
    justify-content: center;
    align-items: center;
}