body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #111;
}

.page{
    display: flex;
    
}

.main{
    position: relative;
    padding: 26px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;

}


.b_message{


}

.message{
    margin: 42px 0 0 0;
    text-align: center;
    font-size: 34px;
    line-height: 1.15;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

}

.pink{
    color: #ff2fa0;

}

.orange{
    color: #ff5a00;
}

.login_page{
    padding: 26px 26px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img{
    width: 500px;
}

button{
    height: 36px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
}

.log_in{
    background-color: #b5ccff;
    color: #fff;
}

.log_in:hover{
    background-color: #9dbbff;
}

.forg_pas{
    color: #4a7dff;
    text-decoration: none;
    font-size: 12px;
}

.forg_pas:hover{
    text-decoration: underline;
}

.sign_in{

}

.new_pof{

}

.b_meta{

}

.meta{

}